nav ul {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-left: 50px;
    margin-right: 50px;
    background-color: burlywood;
}

nav p {
    min-width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.website-header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-info {
    border: 10px;
    outline: firebrick solid 10px;
    margin: auto;
    padding: 20px;
    height: 300px;
    background-color: blue;
}

.main-div {
    margin: 50px;
}